BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

# Clock
LOCATE      COMP "clk_25m"    SITE "P6";
IOBUF       PORT "clk_25m"    IO_TYPE=LVCMOS33;
FREQUENCY   PORT "clk_25m"    25 MHZ;

# LCD Pins
LOCATE COMP "lcd_clk" SITE "J13";
IOBUF PORT "lcd_clk" DRIVE=4 IO_TYPE=LVCMOS33;
LOCATE COMP "lcd_hsync" SITE "H13";
IOBUF PORT "lcd_hsync" DRIVE=4 IO_TYPE=LVCMOS33;
LOCATE COMP "lcd_vsync" SITE "G13";
IOBUF PORT "lcd_vsync" DRIVE=4 IO_TYPE=LVCMOS33;
LOCATE COMP "lcd_de" SITE "F13";
IOBUF PORT "lcd_de" DRIVE=4 IO_TYPE=LVCMOS33;

# LCD Red (5 bits)
LOCATE COMP "lcd_r[0]" SITE "P11";
IOBUF PORT "lcd_r[0]" DRIVE=4 IO_TYPE=LVCMOS33;
LOCATE COMP "lcd_r[1]" SITE "N12";
IOBUF PORT "lcd_r[1]" DRIVE=4 IO_TYPE=LVCMOS33;
LOCATE COMP "lcd_r[2]" SITE "N13";
IOBUF PORT "lcd_r[2]" DRIVE=4 IO_TYPE=LVCMOS33;
LOCATE COMP "lcd_r[3]" SITE "M12";
IOBUF PORT "lcd_r[3]" DRIVE=4 IO_TYPE=LVCMOS33;
LOCATE COMP "lcd_r[4]" SITE "L14";
IOBUF PORT "lcd_r[4]" DRIVE=4 IO_TYPE=LVCMOS33;

# LCD Green (6 bits)
LOCATE COMP "lcd_g[0]" SITE "P12";
IOBUF PORT "lcd_g[0]" DRIVE=4 IO_TYPE=LVCMOS33;
LOCATE COMP "lcd_g[1]" SITE "P13";
IOBUF PORT "lcd_g[1]" DRIVE=4 IO_TYPE=LVCMOS33;
LOCATE COMP "lcd_g[2]" SITE "P14";
IOBUF PORT "lcd_g[2]" DRIVE=4 IO_TYPE=LVCMOS33;
LOCATE COMP "lcd_g[3]" SITE "M13";
IOBUF PORT "lcd_g[3]" DRIVE=4 IO_TYPE=LVCMOS33;
LOCATE COMP "lcd_g[4]" SITE "L13";
IOBUF PORT "lcd_g[4]" DRIVE=4 IO_TYPE=LVCMOS33;
LOCATE COMP "lcd_g[5]" SITE "K13";
IOBUF PORT "lcd_g[5]" DRIVE=4 IO_TYPE=LVCMOS33;

# LCD Blue (5 bits)
LOCATE COMP "lcd_b[0]" SITE "K14";
IOBUF PORT "lcd_b[0]" DRIVE=4 IO_TYPE=LVCMOS33;
LOCATE COMP "lcd_b[1]" SITE "J14";
IOBUF PORT "lcd_b[1]" DRIVE=4 IO_TYPE=LVCMOS33;
LOCATE COMP "lcd_b[2]" SITE "H14";
IOBUF PORT "lcd_b[2]" DRIVE=4 IO_TYPE=LVCMOS33;
LOCATE COMP "lcd_b[3]" SITE "G14";
IOBUF PORT "lcd_b[3]" DRIVE=4 IO_TYPE=LVCMOS33;
LOCATE COMP "lcd_b[4]" SITE "F14";
IOBUF PORT "lcd_b[4]" DRIVE=4 IO_TYPE=LVCMOS33;

# Debug pins
LOCATE COMP "dbg[4]" SITE "D10";
IOBUF PORT "dbg[4]" DRIVE=4 IO_TYPE=LVCMOS33;
LOCATE COMP "dbg[3]" SITE "D9";
IOBUF PORT "dbg[3]" DRIVE=4 IO_TYPE=LVCMOS33;
LOCATE COMP "dbg[2]" SITE "D8";
IOBUF PORT "dbg[2]" DRIVE=4 IO_TYPE=LVCMOS33;
LOCATE COMP "dbg[1]" SITE "D7";
IOBUF PORT "dbg[1]" DRIVE=4 IO_TYPE=LVCMOS33;
LOCATE COMP "dbg[0]" SITE "D6";
IOBUF PORT "dbg[0]" DRIVE=4 IO_TYPE=LVCMOS33;